<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safecarrier">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeCarrier"
        tools:targetApi="m">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewTestActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- setLink()에 전달하는 링크와 동일한 host, path, scheme -->
                <data
                    android:host="safecarrier.page.link"
                    android:path="/invite"
                    android:scheme="https" />

                <data
                    android:host="safecarrier.page.link"
                    android:path="/invite"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".LinkTestActivity"/>
        <activity android:name=".EnterPassword"/>
        <activity android:name=".DecryptText"/>
        <activity android:name=".DecryptImage"/>
        <activity android:name=".DecryptVideo"/>
        <activity android:name=".DialogEn"/>
    </application>

</manifest>